src/wsdl/localhost_8080/FlightWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://ws.flights.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.flights.mycompany.com/" name="FlightWS">
<wsp:Policy wsu:Id="FlightWSPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://ws.flights.mycompany.com/" schemaLocation="http://localhost:8080/FlightWS?xsd=1"/>
</xsd:schema>
</types>
<message name="searchFlight">
<part name="parameters" element="tns:searchFlight"/>
</message>
<message name="searchFlightResponse">
<part name="parameters" element="tns:searchFlightResponse"/>
</message>
<message name="ArgumentException">
<part name="fault" element="tns:ArgumentException"/>
</message>
<message name="getAllCities">
<part name="parameters" element="tns:getAllCities"/>
</message>
<message name="getAllCitiesResponse">
<part name="parameters" element="tns:getAllCitiesResponse"/>
</message>
<message name="buyTicket">
<part name="parameters" element="tns:buyTicket"/>
</message>
<message name="buyTicketResponse">
<part name="parameters" element="tns:buyTicketResponse"/>
</message>
<message name="checkReservationByCode">
<part name="parameters" element="tns:checkReservationByCode"/>
</message>
<message name="checkReservationByCodeResponse">
<part name="parameters" element="tns:checkReservationByCodeResponse"/>
</message>
<portType name="FlightWS">
<operation name="searchFlight">
<input wsam:Action="http://ws.flights.mycompany.com/FlightWS/searchFlightRequest" message="tns:searchFlight"/>
<output wsam:Action="http://ws.flights.mycompany.com/FlightWS/searchFlightResponse" message="tns:searchFlightResponse"/>
<fault message="tns:ArgumentException" name="ArgumentException" wsam:Action="http://ws.flights.mycompany.com/FlightWS/searchFlight/Fault/ArgumentException"/>
</operation>
<operation name="getAllCities">
<input wsam:Action="http://ws.flights.mycompany.com/FlightWS/getAllCitiesRequest" message="tns:getAllCities"/>
<output wsam:Action="http://ws.flights.mycompany.com/FlightWS/getAllCitiesResponse" message="tns:getAllCitiesResponse"/>
</operation>
<operation name="buyTicket">
<input wsam:Action="http://ws.flights.mycompany.com/FlightWS/buyTicketRequest" message="tns:buyTicket"/>
<output wsam:Action="http://ws.flights.mycompany.com/FlightWS/buyTicketResponse" message="tns:buyTicketResponse"/>
<fault message="tns:ArgumentException" name="ArgumentException" wsam:Action="http://ws.flights.mycompany.com/FlightWS/buyTicket/Fault/ArgumentException"/>
</operation>
<operation name="checkReservationByCode">
<input wsam:Action="http://ws.flights.mycompany.com/FlightWS/checkReservationByCodeRequest" message="tns:checkReservationByCode"/>
<output wsam:Action="http://ws.flights.mycompany.com/FlightWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse"/>
<fault message="tns:ArgumentException" name="ArgumentException" wsam:Action="http://ws.flights.mycompany.com/FlightWS/checkReservationByCode/Fault/ArgumentException"/>
</operation>
</portType>
<binding name="FlightWSPortBinding" type="tns:FlightWS">
<wsp:PolicyReference URI="#FlightWSPortBinding_MTOM_Policy"/>
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="searchFlight">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="ArgumentException">
<soap12:fault name="ArgumentException" use="literal"/>
</fault>
</operation>
<operation name="getAllCities">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
</operation>
<operation name="buyTicket">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="ArgumentException">
<soap12:fault name="ArgumentException" use="literal"/>
</fault>
</operation>
<operation name="checkReservationByCode">
<input>
<soap12:body use="literal"/>
</input>
<output>
<soap12:body use="literal"/>
</output>
<fault name="ArgumentException">
<soap12:fault name="ArgumentException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FlightWS">
<port name="FlightWSPort" binding="tns:FlightWSPortBinding">
<soap12:address location="http://localhost:8080/FlightWS"/>
</port>
</service>
</definitions>