src/wsdl/localhost_8080/SearchWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.1 (RELEASE-4.0.1-18da659; 2022-07-02T08:47:18+0000) XMLWS-Impl/4.0.0 XMLWS-API/${jaxws-api.version} XMLB-Impl/4.0.0 XMLB-API/4.0.0 git-revision#18da659. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.flights.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.flights.mycompany.com/" name="SearchWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.flights.mycompany.com/" schemaLocation="http://localhost:8080/SearchWS?xsd=1"/>
</xsd:schema>
</types>
<message name="checkReservationByCode">
<part name="parameters" element="tns:checkReservationByCode"/>
</message>
<message name="checkReservationByCodeResponse">
<part name="parameters" element="tns:checkReservationByCodeResponse"/>
</message>
<message name="buyTicket">
<part name="parameters" element="tns:buyTicket"/>
</message>
<message name="buyTicketResponse">
<part name="parameters" element="tns:buyTicketResponse"/>
</message>
<message name="getAllCities">
<part name="parameters" element="tns:getAllCities"/>
</message>
<message name="getAllCitiesResponse">
<part name="parameters" element="tns:getAllCitiesResponse"/>
</message>
<message name="searchFlight">
<part name="parameters" element="tns:searchFlight"/>
</message>
<message name="searchFlightResponse">
<part name="parameters" element="tns:searchFlightResponse"/>
</message>
<portType name="SearchWS">
<operation name="checkReservationByCode">
<input wsam:Action="http://ws.flights.mycompany.com/SearchWS/checkReservationByCodeRequest" message="tns:checkReservationByCode"/>
<output wsam:Action="http://ws.flights.mycompany.com/SearchWS/checkReservationByCodeResponse" message="tns:checkReservationByCodeResponse"/>
</operation>
<operation name="buyTicket">
<input wsam:Action="http://ws.flights.mycompany.com/SearchWS/buyTicketRequest" message="tns:buyTicket"/>
<output wsam:Action="http://ws.flights.mycompany.com/SearchWS/buyTicketResponse" message="tns:buyTicketResponse"/>
</operation>
<operation name="getAllCities">
<input wsam:Action="http://ws.flights.mycompany.com/SearchWS/getAllCitiesRequest" message="tns:getAllCities"/>
<output wsam:Action="http://ws.flights.mycompany.com/SearchWS/getAllCitiesResponse" message="tns:getAllCitiesResponse"/>
</operation>
<operation name="searchFlight">
<input wsam:Action="http://ws.flights.mycompany.com/SearchWS/searchFlightRequest" message="tns:searchFlight"/>
<output wsam:Action="http://ws.flights.mycompany.com/SearchWS/searchFlightResponse" message="tns:searchFlightResponse"/>
</operation>
</portType>
<binding name="SearchWSPortBinding" type="tns:SearchWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkReservationByCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buyTicket">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCities">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SearchWS">
<port name="SearchWSPort" binding="tns:SearchWSPortBinding">
<soap:address location="http://localhost:8080/SearchWS"/>
</port>
</service>
</definitions>